<div class="bg-gray-300" data-controller="comment-create">
<%# 開發用淺色背景 %>
  <section >
    <%# 建立該pen評論%>
    <textarea class="w-6/12 h-20"
              placeholder="Want to know how <%=pen.user.username%> did this? Ask a question!
Feeling inspired? Let <%=pen.user.username%> know!
Want to share how you used this Pen?
Give the creator a confidence boost!"
              data-comment-create-target="createTextArea"
              ></textarea>
    <span
      class="bg-gray-500 text-white font-bold py-2 px-4 rounded "
      data-action="click->comment-create#create"
      data-comment-create-target="createBtn"
    > Comment </span>
  </section>
  <%# 顯示該pen評論%>
  <section >
    <p class="uppercase"
      data-comments-count=<%= comments_count %>
      data-comment-create-target="commentsCount"
    >
      <%= comments_count_text(comments_count) %></p>
    <ol data-comment-create-target="list" id="comment-list">
      <% comments.each do |comment| %>
      <li
        data-controller="comment-update comment-delete"
        data-comment-update-target="commentLi"
        data-comment-delete-target="commentLi"
        data-comment-delete-id-value="<%= comment.id %>">
        <div>
          <span><%="#{comment.user.display_name} (@#{comment.user.username})"%></span>
          <span><%=time_ago_in_words(comment.created_at) + ' ago'%></span>
        </div>
        <div class="comment-update-block"
          data-comment-update-target="commentBlock">
          <textarea data-comment-update-target="updateTextArea"><%= comment.content %></textarea>
          <button
            data-action="click->comment-update#update"
            data-comment-update-target="updateBtn"
            data-id="<%= comment.id %>"
          > Update </button>
          <button
            data-action="click->comment-update#cancel"
            data-comment-update-target="cancelBtn"
          > Cancel </button>
        </div>
        <div>
          <p data-comment-update-target="commentShow"><%= comment.content %></p>
        </div>
        <%# 評論編輯按鈕 %>
        <%= edit_buttons(comment) %>
      </li>
      <% end %>
    </ol>
  </section>
</div>
<% if pen.edit_view_count != 0 %>
  <div id="view_count"><i class="fas fa-eye"></i> <%= pen.edit_view_count %> Views</div>
<% end %>