<div class="comment-info-area" data-controller="comment-create">
  <section>
    <%# 建立該pen評論%>
    <textarea class="w-6/12 h-20"
              placeholder="Want to know how <%=pen.user.username%> did this? Ask a question!
Feeling inspired? Let <%=pen.user.username%> know!
Want to share how you used this Pen?
Give the creator a confidence boost!"
              data-comment-create-target="createTextArea"
              ></textarea>
    <div class="comment-submit-block">
      <span
        class="comment-submit-btn"
        data-action="click->comment-create#create"
        data-comment-create-target="createBtn"
      > Comment </span>
    </div>
  </section>
  <%# 顯示該pen評論%>
  <section >
    <p class="uppercase"
      data-comments-count=<%= comments_count %>
      data-comment-create-target="commentsCount"
    >
      <%= comments_count_text(comments_count) %></p>
    <ol data-comment-create-target="list">
      <% comments.each do |comment| %>
      <li data-controller="comment-update" data-comment-update-target="commentLi" >
        <div class = "comment-user-info">
          <span><%="#{comment.user.display_name}"%><a href="#"><%=" (@#{comment.user.username})"%></a></span>
          <time><%=time_ago_in_words(comment.created_at) + ' ago'%></time>
        </div>
        <div class="comment-edit-block"
          data-comment-update-target="commentBlock">
          <textarea data-comment-update-target="updateTextArea"><%= comment.content %></textarea>
          <button
            data-action="click->comment-update#update"
            data-comment-update-target="updateBtn"
            data-id="<%= comment.id %>"
          > Update </button>
          <button
            data-action="click->comment-update#cancel"
            data-comment-update-target="cancelBtn"
          > Cancel </button>
        </div>
        <div>
          <p data-comment-update-target="commentShow"><%= comment.content %></p>
        </div>
        <button
          data-action="click->comment-update#edit"
          data-comment-update-target="editBtn"
        > Edit </button>
        <button
          data-action="click->comment-update#delete"
          data-comment-update-target="deleteBtn"
        > Delete</button>
        <div class="warning-wrap hidden border-solid border-4" data-comment-update-target="warningBlock">
          <div class="warning-content">
            <h2>Delete Confirmation</h2>
            <p>This will permanently delete this Comment.</p>
            <button
              data-action="click->comment-update#realDelete"
              data-comment-update-target="realDeleteBtn"
              data-id="<%= comment.id %>"
            > I understand, delete the Comment</button>
            <button
              data-action="click->comment-update#deleteCancel"
              data-comment-update-target="deleteCancelBtn"
            >Cancel</button>
          </div>
        </div>
      </li>
      <% end %>
    </ol>
  </section>
</div>