<div class="comment-wrap"
  data-controller="comment-create"
  data-comment-create-url-value="<%='a' + pen.random_url %>"
  data-comment-create-comments-count-value="<%= comments_count %>">
  <div class="aside-info">
    <div class="share-block">
      <span class="share-text">Share</span>
      <button class="copy-link"
        data-controller="share-link"
        data-share-link-target="copyBtn"
        data-action="click->share-link#copy"
      >
        <i class="fas fa-link"></i> Copy Link</button>
    </div>
    <dl>
      <div>
        <dt>Created on</dt>
        <dd> <%= pen.created_at.to_date.to_formatted_s(:long) %> </dd>
      </div>
      <div>
        <dt>Updated on</dt>
        <dd> <%= pen.updated_at.to_date.to_formatted_s(:long) %> </dd>
      </div>
    </dl>
  </div>
  <!-- TODO 新增 className grid 請加入 -->
  <section class="comment-content">
    <%# 建立評論%>
    <textarea placeholder="Want to know how <%= pen.user.username %> did this? Ask a question!
Feeling inspired? Let <%= pen.user.username %> know!
Want to share how you used this Pen?
Give the creator a confidence boost!"
              data-comment-create-target="createTextArea"
              ></textarea>
    <div class="comment-submit-block">
      <span
        class="comment-submit-btn"
        data-action="click->comment-create#create"
        data-comment-create-target="createBtn"
      > Comment </span>
    </div>
    <%# 顯示評論%>
    <p class="comments-count"
      data-comment-create-target="commentsCount">
      <%= comments_count_text(comments_count) %></p>
    <ol data-comment-create-target="list" id="<%='a' + pen.random_url %>">
      <% comments.each do |comment| %>
      <li
        data-controller="comment-update comment-delete"
        data-comment-update-target="commentLi"
        data-comment-delete-target="commentLi"
        data-comment-delete-id-value="<%= comment.id %>">
        <div class = "comment-user-info">
          <div class="user-comment-img">
            <img src="/images/user-img.jpg" alt="使用者圖像" />
          </div>
          <div class="user-name">
            <span><%="#{comment.user.display_name}"%></span>
            <span class="light-text"><%= "(@#{comment.user.username})" %></span>
          </div>
          <div class="comment-time">
            <%= time_ago_in_words(comment.created_at) + ' ago' %>
          </div>
        </div>
        <div class="comment-update-block"
          data-comment-update-target="commentBlock">
          <textarea data-comment-update-target="updateTextArea"><%= comment.content %></textarea>
          <div class="update-btn-block">
            <button
              data-action="click->comment-update#cancel"
              data-comment-update-target="cancelBtn"
            > Cancel </button>
            <button
              data-action="click->comment-update#update"
              data-comment-update-target="updateBtn"
              data-id="<%= comment.id %>"
            > Update </button>
          </div>
        </div>
        <div class="comment-content-block">
          <div class="comment-content-text">
            <p data-comment-update-target="commentShow"><%= comment.content %></p>
          </div>
          <div class="edit-btn-block">
            <%# 評論編輯按鈕 %>
            <% if current_user == comment.user %>
              <button
                class="comment-edit-btn"
                data-action="click->comment-update#edit"
                data-comment-update-target="editBtn">
                <span><i class="fas fa-pencil-alt"></i></span>
                <span>Edit</span>
              </button>
              <button
                class="comment-delete-btn"
                data-action="click->comment-delete#delete"
                data-comment-update-target="deleteBtn">
                <span><i class="fas fa-trash"></i></span>
                <span>Delete</span>
              </button>
            <% end %>
          </div>
        </div>
      </li>
      <% end %>
    </ol>
  </section>
</div>
