<div class="comment-wrap"
  data-controller="comment-create"
  data-comment-create-url-value="<%='a' + pen.random_url %>"
  data-comment-create-comments-count-value="<%= comments_count %>">
  <section >
    <%# 建立評論%>
    <textarea class="w-6/12 h-20"
              placeholder="Want to know how <%= pen.user.username %> did this? Ask a question!
Feeling inspired? Let <%= pen.user.username %> know!
Want to share how you used this Pen?
Give the creator a confidence boost!"
              data-comment-create-target="createTextArea"
              ></textarea>
    <div class="comment-submit-block">
      <span
        class="comment-submit-btn"
        data-action="click->comment-create#create"
        data-comment-create-target="createBtn"
      > Comment </span>
    </div>
    <%# 顯示評論%>
    <p class="uppercase"
      data-comment-create-target="commentsCount"
    >
      <%= comments_count_text(comments_count) %></p>
    <ol data-comment-create-target="list" id="<%='a' + pen.random_url %>">
      <% comments.each do |comment| %>
      <li
        data-controller="comment-update comment-delete"
        data-comment-update-target="commentLi"
        data-comment-delete-target="commentLi"
        data-comment-delete-id-value="<%= comment.id %>">
        <div class = "comment-user-info">
          <span><%= "#{comment.user.display_name} (@#{comment.user.username})" %></span>
          <span><%= time_ago_in_words(comment.created_at) + ' ago' %></span>
        </div>
        <div class="comment-update-block"
          data-comment-update-target="commentBlock">
          <textarea data-comment-update-target="updateTextArea"><%= comment.content %></textarea>
          <button
            data-action="click->comment-update#update"
            data-comment-update-target="updateBtn"
            data-id="<%= comment.id %>"
          > Update </button>
          <button
            data-action="click->comment-update#cancel"
            data-comment-update-target="cancelBtn"
          > Cancel </button>
        </div>
        <div>
          <p data-comment-update-target="commentShow"><%= comment.content %></p>
        </div>
        <%# 評論編輯按鈕 %>
        <%= edit_buttons(comment) %>
      </li>
      <% end %>
    </ol>
  </section>
  <aside class="">
    <div class="share-block">
      <span>Share</span>
      <span>Copy Link</span>
    </div>
    <dl>
      <div>
        <dt>Created on</dt>
        <dd> <%= pen.created_at.to_date.to_formatted_s(:long) %> </dd>
      </div>
      <div>
        <dt>Updated on</dt>
        <dd> <%= pen.updated_at.to_date.to_formatted_s(:long) %> </dd>
      </div>
    </dl>
    <% if pen.edit_view_count != 0 %>
      <div id="view_count"><i class="fas fa-eye"></i> <%= pen.edit_view_count %> Views</div>
    <% end %>
  </aside>

</div>