<td class="modal-follow-wrap">
  <%# modal %>
  <button class="modal-btn" id="modal-btn">
    <i class="fas fa-expand-arrows-alt"></i>
  </button>
  <div id="modal" class="modal" data-url=<%= pen.random_url %>>
    <div class="modal-content">
      <header class="modal-header">
        <div class="modal-header-user">
          <div class="modal-header-user-img">
            <img src="/images/user-img.jpg" alt="使用者圖像">
          </div>
          <div class="modal-header-title-username">
            <div class="modal-header-title">
              <%= link_to pen.title, edit_pen_path(pen, username: current_user.username)%>
              <% # 鎖 %>
              <div class="private-lock hidden pr-2" data-private-target="privateIcons" data-is-private="<%= pen.private %>">
                <i class="fas fa-lock"></i>
              </div>
            </div>
            <div class="modal-header-username">
              <%= current_user.username %>
            </div>
          </div>
        </div>

        <div class="modal-header-btn">
          <% # points 按鈕 %>
          <div class="points-wrap points-content-bottom" data-url="<%= pen.random_url %>" data-action="click->private#togglePoints"
          ></div>

          <%= link_to 'View in Editor', edit_pen_path(pen, username: current_user.username),class: 'modal-header-editor-btn'%>
        </div>
      </header>
      <div class="modal-iframe">
        <iframe id="grid-iframe" sandbox="allow-scripts" loading="lazy" scrolling="no" frameBorder="0"
        srcdoc="
        <html>
          <style><%= pen.css %></style>
          <body><%= pen.html %></body>
          <script type='text/javascript'><%= pen.js %></script>
        </html>
        "

        ></iframe>
      </div>

      <%= render 'comment' ,  pen: pen,
                              comments: pen.comments.order(created_at: :desc),
                              comment: @comment,
                              comments_count: pen.comments_count %>
    </div>
  </div>
</td>