<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Created</th>
      <th>Last Updated</th>
      <th>Stats</th>
      <th>Show </th>
    </tr>
  </thead>
  <tbody>
    <% pens.each do |pen| %>
      <tr>
        <th>
          <%= link_to pen.title, edit_pen_path(pen, username: current_user.username) %>
          
          <%# modal %>
          <button class="modal-btn" id="modal-btn">
            <i class="fas fa-expand-arrows-alt"></i>
          </button>
          <div id="modal" class="modal" data-url="<%= pen.random_url %>">
            <div class="modal-content">
              <a href="#" id="username"><%= current_user.username %></a>
              <%= pen.title %>
            </div>
          </div>
        </th>
        <td><%= pen.created_at.to_date.to_formatted_s(:long) %></td>
        <td><%= pen.updated_at.to_date.to_formatted_s(:long) %></td>
        <td>
          <div class="hearts">愛心</div>
          <div class="comments">評論</div>
          <div class="views">眼睛</div>
        </td>
        <td>三個點</td>
        <td><%= link_to 'show', pen_path(pen, username:current_user.username)%></td>
      </tr>
    <% end %>
  </tbody>
</table>