<tr scope="col">
  <th class="title-wrap">
    <%= link_to pen.title, edit_pen_path(pen, username: current_user.username) %>
  </th>
  <td class="modal-wrap">
    <%# modal %>
    <button class="modal-btn" id="modal-btn">
      <i class="fas fa-expand-arrows-alt"></i>
    </button>
    <div id="modal" class="modal" data-url="<%= pen.random_url %>">
      <div class="modal-content">
        <a href="#" id="username">
          <%= current_user.username %>
        </a>
          <div class="points-wrap alert-points-wrap" data-url="<%= pen.random_url %>"></div>
          <%= render 'comment' , pen: pen, comments: pen.comments, comment: @comment, comments_count: pen.comments_count %>
      </div>
    </div>
  </td>
  <td><%= pen.created_at.to_date.to_formatted_s(:long) %></td>
  <td><%= pen.updated_at.to_date.to_formatted_s(:long) %></td>
  <td class="stats" data-controller="stats" data-stats-loved-class="text-red-600" data-stats-heart-value="<%= current_user.loved? pen %>" data-stats-random-value="<%= pen.random_url %>" data-stats-heart-lists-count-value="<%= pen.heart_lists_count %>">
    <div class="hearts">
      <i class="fas fa-heart cursor-pointer stroke-current" data-stats-target="heart" data-action="click->stats#toggleHeart"></i>
      <span data-stats-target="heartListsCount"></span>
    </div>
    <div class="comments">
      <i class="fas fa-comment"></i>
      <%= pen.comments_count %>
    </div>
    <div class="eye">
      <i class="fas fa-eye"></i>
      <%= pen.edit_view_count %>
    </div>
  </td>
  <td class="points-wrap list-points-wrap" data-url="<%= pen.random_url %>">
  </td>
  <td><%= link_to 'show', pen_path(pen, username:current_user.username)%></td>
</tr>