<%# search bar %>
<div class="your-work-features" data-controller="search">
  <div class="features-item">
  <%= form_tag pens_path, method: 'get', class: 'your-work-search' do %>
    <%# search bar %>
    <%= label_tag :search_term, 'SEARCH' %>
    <%= text_field_tag :search_term, params[:search_term],
                        placeholder: 'Search for...',
                        class: 'search-text',
                        data: { "search-target": "searchInput" } %>
    <button data-action="click->search#submitSearch" class="search-btn">Search</button>
    <%= link_to 'Clear Search', request.params.except(:search_term),
                                class: 'clear-search hidden',
                                data: { "search-target": "clearSearch" } %>
  </div>
  <nav class="features-item">
    <div class="grid-list-btn">
      <%= link_to pens_path(grid_type: 'grid'), class: "grid-btn" do%>
        <span>grid</span>
        <button>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="-60.741 20.407 74.148 45.778" width="19">
            <path
              d="M-47.704 20.407h-8.666a4.332 4.332 0 00-4.37 4.37v8.742c0 2.37 1.925 4.37 4.37 4.37h8.74c2.37 0 4.37-1.926 4.37-4.37v-8.741c-.073-2.445-2-4.37-4.444-4.37zM-47.704 48.704h-8.666c-2.37 0-4.37 1.926-4.37 4.37v8.74c0 2.371 1.925 4.371 4.37 4.371h8.74c2.37 0 4.37-1.926 4.37-4.37v-8.74c-.073-2.371-2-4.371-4.444-4.371zM-19.333 20.407h-8.741c-2.37 0-4.37 1.926-4.37 4.37v8.742c0 2.37 1.925 4.37 4.37 4.37h8.74c2.371 0 4.371-1.926 4.371-4.37v-8.741c0-2.445-2-4.37-4.37-4.37zM-19.333 48.704h-8.741c-2.37 0-4.37 1.926-4.37 4.37v8.74c0 2.371 1.925 4.371 4.37 4.371h8.74c2.371 0 4.371-1.926 4.371-4.37v-8.74c0-2.371-2-4.371-4.37-4.371zM8.963 20.407H.296c-2.37 0-4.37 1.926-4.37 4.37v8.742c0 2.37 1.926 4.37 4.37 4.37h8.741c2.37 0 4.37-1.926 4.37-4.37v-8.741c-.074-2.445-2-4.37-4.444-4.37zM8.963 48.704H.296c-2.37 0-4.37 1.926-4.37 4.37v8.74c0 2.371 1.926 4.371 4.37 4.371h8.741c2.37 0 4.37-1.926 4.37-4.37v-8.74c-.074-2.371-2-4.371-4.444-4.371z">
            </path>
          </svg>
        </button>
      <% end %>
      <%= link_to pens_path(grid_type: 'list'), class: "list-btn" do%>
        <button>
          <svg viewBox="0 0 17 13" fill="none" xmlns="http://www.w3.org/2000/svg" width="16.5">
            <path clip-rule="evenodd"
              d="M.5 1a1 1 0 011-1H16a1 1 0 110 2H1.5a1 1 0 01-1-1zM.5 6.5a1 1 0 011-1H16a1 1 0 110 2H1.5a1 1 0 01-1-1zM.5 12a1 1 0 011-1H16a1 1 0 110 2H1.5a1 1 0 01-1-1z">
            </path>
          </svg>
        </button>
        <span>list</span>
      <% end %>
    </div>

  <%= label_tag :sort_by, 'SORT BY',class:'sort-by' %>
    <div class="sort-by-select">
      <%= select_tag :sort_by, options_for_select(['Date Created',
                                                  'Date Updated',
                                                  'Popularity'], selected: params[:sort_by]),
                                                  data: { "action": "change->search#submitSelected", "search-target": "sortBySelected" }%>
      <div class="sort-by-select-icon"><i class="fas fa-chevron-down"></i></div>
    </div>
    <div class="sort-by-order-wrap">
      <span>Sort Direction</span>
      <%= link_to request.params.except(:sort_order), class: 'sortOrderDESC' do %>
        <div class="sort-by-order"><i class="fas fa-chevron-down"></i></div>
      <% end %>
      <%= link_to request.params.merge(sort_order: :asc), class: 'sortOrderASC' do %>
        <div class="sort-by-order asc-icon"><i class="fas fa-chevron-down"></i></div>
      <% end %>
    </div>
  <% end %>
</div>

<%# 判斷搜尋結果是否為0 如果是0 給一段沒有搜尋結果的文字 %>
<% if @pens.count == 0 %>
    <div class="no-deleted-pen no-search-pen">
      <h2>No results for <em><%= params[:search_term] %>.</em></h2>
      <blockquote>
        <p>If you want to save our world, you must hurry. We don't know how much longer we can withstand the nothing.</p>
        <br />
        <cite>— Southern Oracle, The Neverending Story</cite>
      </blockquote>
    </div>
<% else %>
  <table class="pen-list">
    <thead class="pen-list-title">
      <tr>
        <th scope="row">Title</th>
        <th scope="row"></th>
        <th scope="row">Created</th>
        <th scope="row">Last Updated</th>
        <th scope="row">Stats</th>
      </tr>
    </thead>
    <tbody class="pen-list-content">
      <%= render partial: "pens_list_content", collection: @pens, as: :pen %>
    </tbody>
  </table>
  <div class="next-prev-btn">
    <%= page_buttons(@pens) %>
  </div>
<% end %>
