<div class="container" data-sidebar-open="true">
  <%= render './shared/sidebar' %>
  <%= render './shared/usermenu_signin' %>
  <main>
    <table>
    <tr>
      <button id="show-btn" style="font-size:100px;color:#fff;">這是show測試按鈕</button>
      <th>Title</th>
      <th>-preview--</th>
      <th>Created</th>
      <th>Last Updated</th>
      <th>Stats</th>
      <th>--menu--</th>
    </tr>
    <% @pens.each do |pen| %>
      <tr>
        <td><%= pen.title %></td>
        <%#= link_to pen.title, pen_path(pen) %> 
        <%# to /:username/pen/:id(.:format)	pens#show%>
        <td>preview btn</td>
        <td><%= pen.created_at.strftime("%b %d, %Y") %></td>
        <td><%= pen.updated_at.strftime("%b %d, %Y") %></td>
        <td> pen.status </td>
        <td> menu btn </td>
      </tr>
    <% end %>
    </table>
  </main>
  <%= render './shared/footer' %>
</div>
