<div class="search-users-features">
  <div class="features-item">
    <div class="search-users-sort">SORT BY</div>
    <div class="search-users-depth">SEARCH DEPTH</div>
  </div>
</div>

<div class="pen-items-wrap">
  <% @pens.each do |pen| %>
      <article class="col">
        <div class="pen-item">
          <header class="pen-header">
            <h2><%= pen.title %></h2>
            <button class="pen-more">
              <svg viewBox="0 0 29 7" title="more">
                <circle cx="3.5" cy="3.5" r="3.5"></circle>
                <circle cx="14.5" cy="3.5" r="3.5"></circle>
                <circle cx="25.5" cy="3.5" r="3.5"></circle>
              </svg>
            </button>
          </header>
          <div class="pen-img">
              <iframe frameborder="0"></iframe>
              <a class="cover-link" href="<%= edit_pen_path(pen, username: pen.user.username) %>"></a>
              <a class="prompt-link" href="<%= pen_path(pen, username: pen.user.username) %>">
                <button>
                  <i class="fas fa-expand-arrows-alt"></i>
                </button>
              </a>
          </div>
          <footer class="pen-footer" data-controller="stats"
                                     data-stats-target="yourWork"
                                     data-stats-loved-class="text-red-600"
                                     data-stats-random-value="<%= pen.random_url %>">
            <button class="pen-footer-style" data-btn="love" data-action="click->stats#toggleHeart">
              <i class="fas fa-heart cursor-pointer stroke-current"
                 data-stats-target="heart"></i>
              <span data-stats-target="heartListsCount"></span>
            </button>
            <a href="#" class="pen-footer-style" data-btn="comments">
              <i class="fas fa-comment"></i>
              <span><%= pen.comments.size %></span>
            </a>
            <a href="#" class="pen-footer-style" data-btn="views">
              <i class="fas fa-eye"></i>
              <span><%= pen.edit_view_count %></span>
            </a>
          </footer>
        </div>
      </article>
  <% end %>
</div>
<div class="next-prev-btn">
  <%= page_buttons(@pens) %>
</div>