<h1>show page of <%= @pen.html%> </h1>

<h3>Comment</h3>
<%= form_for(@comment, url: create_comment_path(username: current_user.username, random_url: @pen.random_url )) do |form| %>
  <div class="field">
    <%= form.label :content, '留言內容 for' %>
    <%= form.text_area :content, placeholder: "placeholder text from show.html.erb" %>
  </div>
  <%= form.submit %>
<% end %>

<ul id="comment_area">
<% @comments.each do |comment| %>
  <li><%= comment.content %></li>
<% end %>
</ul>

<%= link_to '回到your_work', pens_path%>