<h1>show page of <%= @pen.html%> </h1>

<h3>Comment</h3>
<%= form_for(@comment, url: create_comment_path(username: current_user.username, random_url: @pen.random_url )) do |form| %>
  <div>
    <%= form.text_area :content, placeholder: "placeholder text from show.html.erb" %>
  </div>
  <%= form.submit %>
<% end %>

<div id="comment_area" >
  <%=  @comments_counts > 1 ? "#{@comments_counts} COMMENTS" : "#{@comments_counts} COMMENT" %>

  <% @comments.each do |comment| %>
    <section id="comment-area">
      <span id="user-info"> <%= "#{current_user.display_name} (@#{current_user.username})"  %> </span>
      <span id="time-info"><%= time_ago_in_words(comment.created_at) + ' ago'%></span>
      <span id="comment-content"><%= comment.content %></span>
      <span
        data-controller="comment"        
        data-action="click->comment#update"
        data-comment-target="edit-btn"
        data-comment-id="<%= comment.id %>" >
        Edit
      </span>
      <%= link_to "Delete", comment_path(comment), method: "delete",
                  data: {confirm: "Delete Confirmation\nThis will permanently delete this Comment."} %>
    </section>
  <% end %>
</div>
<% if @pen.edit_view_count != 0 %>
  <div id="view_count"><i class="fas fa-eye"></i> <%= @pen.edit_view_count %> Views</div>
<% end %>
<%= link_to '回到your_work', pens_path%>