<header class="edit-header">
  <div class="edit-title-header">
    <%= link_to pens_path do %>
      <img src="/images/logo-s.svg" alt="CodePain">
    <% end %>

    <div class="edit-title-area">
      <div class="edit-title-wrap">
        <h1 id='edit-title'>Untitled</h1>
        <span id='btn-edit-title'><i class="fas fa-pencil-alt"></i></span>
        <input type="text" id="input-title" value="" style='display: none;'>
      </div>
      <div class="edit-username">
        <div class="edit-author" id="username"><%= show_username %></div>
        <span class="logo-pro edit-pro-icon">pro</span>
      </div>
    </div>
  </div>
  <div class="edit-btn-header">
    <div class="burger-btn">
      <button>
        <span></span>
        <div class="fas fa-chevron-down"></div>
      </button>
    </div>
    <div class="edit-btn-wrap">
      <%= private_switch %>
      <% if user_signed_in? && action_name == 'edit' %>
        <button class="btn-Love" data-controller="stats"
                                data-stats-target="editor"
                                data-action="click->stats#toggleEditorHeart"
                                data-stats-loved-class="love-active">
          <span><i class="fas fa-heart stroke-current"
                  data-stats-target="heart"></i>
          </span>
        </button>
      <% end %>
      <%= save_button %>
      <%= save_as_private_button %>
      <button class="btn-settings" id="btn-settings"><span><i  class="fas fa-cog"></i></span>Settings</button>
    </div>
  </div>
  <%= user_menu_button %>
</header>