<!-- 登出 -->
<section class="search-userMenu-container">
  <div class="search-userMenu">
    <%= link_to root_path, class: 'burger-logo' do%>
      <img src="/images/logo-crystal-white.svg" alt="logo" />
    <% end %>
    <div class="burger-menu"
         data-burger-target="burger">
      <button>
        <span></span>
        <div class="fas fa-chevron-down"></div>
      </button>
    </div>
    <%# search all users' pens bar %>
    <%= form_tag search_all_users_pens_path, method: 'get', class: 'search-box' do %>
      <label>
        <div class="fas fa-search"></div>
        <%= text_field_tag :q, params[:q],
                               placeholder: 'Search CodePain...',
                               class: 'search-text' %>
      </label>
    <% end %>

    <%= signup_button %>
    <%= login_button %>

  </div>
</section>