<div class="form-wrap user-form starter-form">
  <header class="signup-header">
    <h1>Starter</h1>
    <p>Starter is the way to go. Welcome to CodePain.</p>
  </header>

  <div class="user-container">
    <div class="user-form-left pro-form ">
      <% if @product.period == 'year' %>
      <%= form_tag api_v1_orders_path, method: :post do %>
        <div class="field pricing">
          <label>Pricing</label>
            <div class="pricing-radio-wrap">
              <%= radio_button_tag 'period', 'year', true, class: "btn-period-selection" %>
              <label for="period_year" class="label-period-selection">
                <span>$<%= @product.price/12 %>/month Billed annually</span>
                <span class="total-price">$<%= @product.price %></span>
              </label>
            </div>
            <div class="pricing-radio-wrap">
              <%= radio_button_tag 'period', 'month', false, class: "btn-period-selection" %>
              <label for="period_month" class="label-period-selection">
                <span>$<%= @product.price/12 %>/month Billed annually</span>
                <span class="total-price">$<%= @product.price %></span>
              </label>
            </div>
        </div>
        <div class="payment-method-type">
          <div class="payment-method-wrap">
            <%= radio_button_tag 'payment_method', 'credit_onetime', true, class: "btn-payment-selection" %>
            <label for="payment_method_credit_onetime" class="label-payment-selection">
              Credit Card
            </label>
          </div>
          <div class="payment-method-wrap">
            <%= radio_button_tag 'payment_method', 'credit_period', false, class: "btn-payment-selection" %>
            <label for="payment_method_credit_period" class="label-payment-selection">
              Credit Card Installment
            </label>
          </div>
        </div>
        <div class="hidden plan">
          <%= hidden_field_tag 'plan', 'starter' %>
        </div>
        <%= submit_tag 'Submit', class: "button button-user-form-submit" %>
      <% end %>



        <!-- <%= link_to 'Submit',
          api_v1_orders_path(plan: params[:plan], period: params[:period]),
          class: "button button-user-form-submit",
          method: 'POST' %> -->
      <% else %>
        這是 Starter
        <%= link_to '確定購買',
          api_v1_orders_path(plan: params[:plan], period: params[:period]),
          class: "button button-user-form-submit",
          method: 'POST' %>
      <% end %>

      <p class="signup-agreement pro-member">By clicking "Submit", you agree to our <a href="#">Terms of Service</a> and <a href="#">Privacy Policy</a> .</p>
    </div>

    <div class="signup-feature-list tier-name">
      <h3>STARTER</h3>
      <div class="user-right-info">
          <dl>
            <dt>Project Count</dt>
            <dd class="data">20</dd>
            <dt>Files per Project</dt>
            <dd class="data">50</dd>
            <dt>Deploys</dt>
            <dd class="data">2</dd>
            <dt>Custom Domains</dt>
            <dd class="data">2</dd>
          </dl>
      </div>

      <h3>PEN & PROJECT VIEWS</h3>
      <div class="user-right-info">
          <dl>
            <dt>Editor View</dt>
            <dd class="data">✅</dd>
            <dt>Full View</dt>
            <dd class="data">✅</dd>
            <dt>Details View</dt>
            <dd class="data">✅</dd>
            <dt>Shareable Debug View</dt>
            <dd class="data">✅</dd>
          </dl>
      </div>

      <h3>PEN FEATURES</h3>
      <div class="user-right-info">
          <dl>
            <dt>Collab Mode</dt>
            <dd class="data">2👤</dd>
            <dt>Professor Mode</dt>
            <dd class="data">10👤</dd>
            <dt>Presentation View</dt>
            <dd class="data">✅</dd>
          </dl>
      </div>

      <h3>ASSET HOSTING</h3>
      <div class="user-right-info">
          <dl>
            <dt>Total GB</dt>
            <dd class="data">2 GB</dd>
            <dt>Max File Size</dt>
            <dd class="data">5 MB</dd>
          </dl>
      </div>
    </div>
  </div>

  <div class="signup-footer">
    <a href="#">Terms of Service</a>
     ·
    <a href="#">Privacy Policy</a>
     ·
    <a href="#">Code of Conduct</a>
  </div>
</div>