<div class="plans-container">
  <header class="plans-header">
    <div class="plans-header-details">
      <h1>Choose a Plan</h1>
      <p>What do you get for being PRO? A lot!</p>
      <a href="#" class="plans-header-btn hidden">See PRO Features</a>
    </div>
  </header>
  <section class="plans-content">
    <nav class="nav-rwd">
      <button data-item="free" class="nav-btn" style="background-color: rgb(113, 119, 144)">Free</button>
      <button data-item="starter" class="nav-btn" style="background-color: rgba(14,190,255)">Starter</button>
      <button data-item="developer" class="nav-btn" style="background-color: rgba(174,99,228)">Developer</button>
      <button data-item="super" class="nav-btn" style="background-color: rgba(71,207,115)">Super</button>
    </nav>
    <table data-controller="plans" class="plans-table">
      <thead class="plans-table-thead">
        <tr data-plans-target="yearTitles">
          <th class="free on" data-content="free">
            <h3 class="plans-title big-title">Free</h3>
          </th>
          <th class="starter" data-content="starter">
            <h3 class="plans-title big-title">Annual Starter</h3>
          </th>
          <th class="developer" data-content="developer">
            <h3 class="plans-title big-title">Annual Developer</h3>
          </th>
          <th class="super" data-content="super">
            <h3 class="plans-title big-title">Annual Super</h3>
          </th>
        </tr>
        <tr data-plans-target="monthTitles" class="plans-table-hidden">
          <th class="free on" data-content="free">
            <h3 class="plans-title big-title">Free</h3>
          </th>
          <th class="starter" data-content="starter">
            <h3 class="plans-title big-title">Starter</h3>
          </th>
          <th class="developer" data-content="developer">
            <h3 class="plans-title big-title">Developer</h3>
          </th>
          <th class="super" data-content="super">
            <h3 class="plans-title big-title">Super</h3>
          </th>
        </tr>
      </thead>
      <tbody class="plans-table-tbody">
        <tr data-plans-target="yearDetails">
          <td class="plans-price-free free on" data-content="free">
            <div class="plans-price">
              <span class="plans-price-sign">$</span>
              <span class="plans-price-amount">0</span>
              <span class="plans-interval">/month</span>
              <p>Forever</p>
            </div>
          </td>
          <td class="plans-price-starter starter" data-content="starter">
            <div class="plans-price">
              <span class="plans-price-sign">$</span>
              <span class="plans-price-amount">8</span>
              <span class="plans-interval">/month</span>
              <p>Billed at $96/year.</p>
            </div>
            <div class="plans-annual-savings">You’re
              <span class="plans-annual-savings-hightlight">
                <mark style="background-color: rgba(14,190,255,.5);">saving<strong>$84</strong></mark></span><br>by  annually.
            </div>
          </td>
          <td class="plans-price-developer developer" data-content="developer">
            <div class="plans-price">
              <span class="plans-price-sign">$</span>
              <span class="plans-price-amount">12</span>
              <span class="plans-interval">/month</span>
              <p>Billed at $144/year.</p>
            </div>
            <div class="plans-annual-savings">You’re
              <span class="plans-annual-savings-hightlight">
                <mark style="background-color: rgba(174,99,228,.5);">saving<strong>$84</strong></mark><br>by annually.</span>
            </div>
          </td>
          <td class="plans-price-super super" data-content="super">
            <div class="plans-price">
              <span class="plans-price-sign">$</span>
              <span class="plans-price-amount">26</span>
              <span class="plans-interval">/month</span>
              <p>Billed at $312/year.</p>
            </div>
            <div class="plans-annual-savings ">You’re
              <span class="plans-annual-savings-hightlight">
                <mark style="background-color: rgba(71,207,115,.5);">saving<strong>$156</strong></span><br>by  annually.
            </div>
          </td>
        </tr>
        <tr data-plans-target="monthDetails" class="plans-table-hidden">
          <td class="plans-price-free free on" data-content="free">
            <div class="plans-price">
              <span class="plans-price-sign">$</span>
              <span class="plans-price-amount">0</span>
              <span class="plans-interval">/month</span>
            </div>
          </td>
          <td class="plans-price-starter starter" data-content="starter">
            <div class="plans-price">
              <span class="plans-price-sign">$</span>
              <span class="plans-price-amount">12</span>
              <span class="plans-interval">/month</span>
            </div>
            <div>
              Go annual instead and<br><mark style="background-color: rgba(14,190,255,.5);">
                <strong>save $48</strong></mark> a year.
            </div>
          </td>
          <td class="plans-price-developer developer" data-content="developer">
            <div class="plans-price">
              <span class="plans-price-sign">$</span>
              <span class="plans-price-amount">19</span>
              <span class="plans-interval">/month</span>
            </div>
            <div>
              Go annual instead and<br><mark style="background-color: rgba(174,99,228,.5);">
              <strong>save $84</strong></mark>a year.
            </div>
          </td>
          <td class="plans-price-super super" data-content="super">
            <div class="plans-price">
              <span class="plans-price-sign">$</span>
              <span class="plans-price-amount">39</span>
              <span class="plans-interval">/month</span>
            </div>
            <div>
              Go annual instead and<br><mark style="background-color: rgba(71,207,115,.5);">
              <strong>save $156</strong></mark> a year.
            </div>
          </td>
        </tr>
        <tr data-plans-target="yearLinks">
          <td class="free on" data-content="free"></td>
          <td class="starter" data-content="starter"><%= link_to 'Upgrade', product_path(@product, plan: 'starter', period: 'year') %></td>
          <td class="developer" data-content="developer"><%= link_to 'Upgrade', product_path(@product, plan: 'developer', period: 'year') %></td>
          <td class="super" data-content="super"><%= link_to 'Upgrade', product_path(@product, plan: 'super', period: 'year') %></td>
        </tr>
        <tr data-plans-target="monthLinks" class="plans-table-hidden">
          <td class="free on" data-content="free"></td>
          <td class="starter" data-content="starter"><%= link_to 'Upgrade', product_path(@product, plan: 'starter', period: 'month') %></td>
          <td class="developer" data-content="developer"><%= link_to 'Upgrade', product_path(@product, plan: 'developer', period: 'month') %></td>
          <td class="super" data-content="super"><%= link_to 'Upgrade', product_path(@product, plan: 'super', period: 'month') %></td>
        </tr>
        <tr data-plans-target="yearSwitchers">
          <td class="free on" data-content="free"></td>
          <td class="starter" data-content="starter" data-action="click->plans#switch">Switch to monthly billing</td>
          <td class="developer" data-content="developer" data-action="click->plans#switch">Switch to monthly billing</td>
          <td class="super" data-content="super" data-action="click->plans#switch">Switch to monthly billing</td>
        </tr>
        <tr data-plans-target="monthSwitchers" class="plans-table-hidden">
          <td class="free on" data-content="free"></td>
          <td class="starter" data-content="starter" data-action="click->plans#switch" class="text-white cursor-pointer">Switch to annual billing</td>
          <td class="developer" data-content="developer" data-action="click->plans#switch" class="text-white cursor-pointer">Switch to annual billing</td>
          <td class="super" data-content="super" data-action="click->plans#switch" class="text-white cursor-pointer">Switch to annual billing</td>
        </tr>
        <tr class="plans-features-wrap" data-plans-target="plans-features">
          <td class="plans-features free on" data-content="free">
            <ul class="plans-features-list">
              <li class="plans-features-item">Unlimited public Pens and Collections</li>
              <li class="plans-features-item">Unlimited templates</li>
              <li class="plans-features-item">Debug view(<em>requires</em> log in)</li>
              <li class="plans-features-item">1 project with 10 files</li>
            </ul>
          </td>
          <td class="plans-features starter" data-content="starter">
            <ul class="plans-features-list">
              <li class="plans-features-item">Everything in Free</li>
              <li class="plans-features-item">
                Asset hosting<br>
                <strong>2 GB</strong> total storage<br>
                <strong>5 MB</strong> per file
              </li>
              <li class="plans-features-item">
                <strong>10</strong> Projects<br>
                <strong>50</strong> files/Project<br>
                <strong>1</strong> deployed
              </li>
              <li class="plans-features-item">
                <strong>2 person</strong> Collab Mode<br>
                <strong>10 person</strong> Professor Mode<br>
                <small>(Pens only)</small>
              </li>
              <li class="plans-features-item">
                <strong>Private</strong> Pens, Collections, and Projects.
              </li>
              <li class="plans-features-item">
                No ads
              </li>
              <li class="plans-features-item">
                Unlimited embed themes with custom CSS
              </li>
              <li class="plans-features-item">
                No-Login Pen Debug View
              </li>
              <li class="plans-features-item">
                Live View
              </li>
            </ul>
          </td>
          <td class="plans-features developer" data-content="developer">
            <ul class="plans-features-list">
              <li class="plans-features-item">
                Everything in Starter
              </li>
              <li class="plans-features-item">
                Asset hosting<br>
                <strong>10 GB</strong> total storage<br>
                <strong>10 MB</strong> per file
              </li>
              <li class="plans-features-item">
                <strong>25</strong> Projects<br>
                <strong>150</strong> files/Project<br>
                <strong>5</strong>
                deployed
              </li>
              <li class="plans-features-item">
                <strong>6 person</strong> Collab Mode<br>
                <strong>35 person</strong> Professor Mode<br>
                <small>(Pens only)</small>
              </li>
              <li class="plans-features-item">
                Use your own domain for Projects
              </li>
            </ul>
          </td>
          <td class="plans-features super" data-content="super">
            <ul class="plans-features-list">
              <li class="plans-features-item">
                Everything in Developer
              </li>
              <li class="plans-features-item">
                Asset hosting<br>
                <strong>20 GB</strong> total storage<br>
                <strong>15 MB</strong> per file
              </li>
              <li class="plans-features-item">
                <strong>50</strong> Projects<br>
                <strong>300</strong> files/Project<br>
                <strong>20</strong>
                deployed
              </li>
              <li class="plans-features-item">
                <strong>10 person</strong> Collab Mode<br>
                <strong>100 person</strong> Professor Mode<br>
                <small>(Pens only)</small>
              </li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
  </section>
</div>