<!DOCTYPE html>
<html>
  <head>
    <% if content_for?(:layout_title)  %>
      <title><%= yield :layout_title %> - Codepain</title>
    <% else %>
      <title>Codepain</title>
    <% end %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag  'application',  media: 'all',  'data-turbolinks-track': 'reload'  %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-left">
      <%= render 'shared/sidebar' %>
      <% if current_user %>
        <%= render 'shared/usermenu_signin' %>
      <% else %>
        <%= render 'shared/usermenu_signout' %>
      <% end %>
      <main class="wrap">
        <%= yield %>
      </main>
      <%= render 'shared/footer' %>
    </div>
  </body>
</html>