<!DOCTYPE html>
<html>
  <head>
    <title>Codepain</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="edit">
    <div>
    <%= render './shared/show_header' %>
    <main>
      <%= yield %>
    </main>
    </div>
  </body>
</html>
